---
const currentYear = new Date().getFullYear();
---

<footer
  class="text-white w-full text-center pb-8 pt-5 px-5 border-t border-neutral/20"
>
  <p class="text-xs">
    Pendia © {currentYear}
  </p>
  <div>
    <a href="/terms">Terms</a> &
    <a href="/privacy">Privacy</a>
  </div>
</footer>
